*~
*.aux
*.fdb_latexmk
/*.bak
/*.bbl
/*.blg
/*.dvi
/*.fls
/*.log
/*.out
/*.toc
/*.pdf
/bibexport.bib
/dead.tar.gz
/rev.tex
/abstract.txt
!/figures/*.pdf
!/data/*.pdf
/main.synctex.gz
/auto
/latex.out

.vscode/
